@using proje_a.ViewModel;
@model kayipTblViewModel
@{
    ViewBag.Title = "Arama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Arama Sonuçları</h2>
<hr />
<table class="table table-hover">
    @if (Model.aramaList == null || Model.aramaList.Count == 0)
    {
        <tr>
            <td>İçerik Bulunamadı...</td>
        </tr>
    }
    else
    {
        <thead>
            <tr>
                <th class="table-dark">Tür</th>
                <th class="table-dark">İl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kyp in Model.aramaList)
            {
                <tr>
                    <td class="table-warning"><a href="/kayip/KayipDetay/@kyp.kayip_id">@kyp.kayip_turu</a></td>
                    <td class="table-danger">@kyp.kayip_il</td>
                </tr>
            }
        </tbody>
    }
</table>
