
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead" style="background-image: url('../image/blog1.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Hiçbir canlı aç kalmasın!</h1>
                    <span class="subheading" class="font-italic">
                        Türkiye'de birçok ailenin kayıp evcil hayvanına kavuşmasını sağlayıp
                        aynı zamanda sokak hayvanları için de yardımlarınız bizim için çok önemli. Küçük desteklerle sizlerin de yardımıyla dışarıda kalan
                        dostlarımızın karnını doyurabiliriz.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

@*<div class="card mb-3">
    <img src="~/image/destek.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Hiçbir canlı aç kalmasın!</h5>
        <p class="card-text" >Türkiye'de birçok ailenin kayıp evcil hayvanına kavuşmasını sağlayıp
        aynı zamanda sokak hayvanları için de yardımlarınız bizim için çok önemli. Küçük desteklerle sizler de dışarıda kalan
        dostlarımızın karnını doyurabiliriz.</p>
        
    </div>
</div>*@
<hr />

<div class="card text-center bg-warning mb-3">
    <div class="card-header">
        Bağış Kutusu
    </div>
    <div class="card-body">
        <h5 class="card-title">Mutluluk Yeri'ne senin de katkın olsun</h5>
        <p class="card-text">Sokak hayvanlarının beslenme ihtiyaçlarını karşılamak için sen de bağış yap, mutlu et!</p>
        <a href="https://www.iyzico.com/" class="btn btn-primary">Bağış Yap</a>
    </div>
    

</div>
<br />
